@font-face {
  font-family: "MinionPro";
  font-weight: 400;
  src: url("../fonts/MinionPro-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Tahoma";
  font-weight: 400;
  src: url("../fonts/tahoma.ttf") format("truetype"); }

@font-face {
  font-family: "Tahoma";
  font-weight: 700;
  src: url("../fonts/Tahoma Bold.ttf") format("truetype"); }
